*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #FBFBFB;
    background-image: url("../img/Bikini_Bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.home{

}
.navigation{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;

}
.CharacterInfo{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: auto;
}
.CharacterBio{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
}
.main{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    grid-gap: 10px;
    background-color: #FBFBFB;
}

.menu-item{
    background: #58d5f6;
    color: white;
    padding: 10px;
}
.menu-ite:nth-child(even){
    background: #236fc8;
}
.category {
    border: medium solid #666;
    text-align: center;
    padding: 20px;
}
.category a {
    text-decoration: none;
    font-size: x-large;
}
.category-list{

    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
}
.User{
    color: #58d5f6;
}
